{% extends 'Admin.html' %}

{% block content %}

{% for error in errors %}
    <div class="alert alert-danger">
        {{ error.message }}
    </div>
{% endfor %}
<div class="panel panel-default">
    <div class="panel-heading">Добавление новой категории</div>
    <div class="panel-body">
        <form action="/category/edit" method="post">
            <t4:block path="//Category/Default" parent_id="{{ category.__prt }}"/>
            <div class="form-group">
                <label for="title">Название категории</label>
                <input class="form-control" type="text" name="form[title]" id="title" value="{{category.title}}" required>
                <input type="hidden" name="form[id]" value="{{category.pk}}">
            </div>
            <input class="btn btn-default" type="submit" value="Сохранить" name="save">
        </form>
    </div>
</div>

{% endblock %}