{% extends 'Index.html' %}

{% block content %}
<h1>БЛОГ</h1>

<form action="/news/add/" method="post" enctype="multipart/form-data">
    <div class="panel panel-success">

        <div class="panel-heading">Новая статья</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input class="form-control" type="text" name="title" id="title" required>
            </div>
            <div class="form-group">
                <label for="intro">Введение</label>
                <textarea id="intro" class="form-control" rows="2" name="intro" required></textarea>
            </div>
            <div class="form-group">
                <label for="text">Статья</label>
                <textarea id="text" class="form-control" rows="4" name="text" required></textarea>
            </div>
            <div class="form-group">
                <label for="file">Картинка</label>
                <input type="file" id="file" name="img" required>
                <p class="help-block">Select picture</p>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-default" type="submit" value="Сохранить">
            <div style="clear: both;"></div>
        </div>
    </div>
</form>
{% endblock %}