{% extends 'Admin.html' %}

{% block content %}

<div class="row">
    <!-- MAIN CONTENT -->
    <div class="col-md-9">

    </div><!-- END of MAIN CONTENT -->

    <!-- RIGHT SIDEBAR -->
    <div class="col-md-3">
        <div class="panel panel-warning">
            <div class="panel-heading">Действия</div>
            <div class="panel-body">
                <a href="/admin/post/new.html" class="btn btn-default btn-md" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>
                    Новый пост
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}