{% extends 'Admin.html' %}

{% block content %}

<!-- MAIN CONTENT -->
<div class="panel panel-default">
    <div class="panel-heading">Категории</div>
    <div class="panel-body">
        <form action="/product" method="post">
            <t4:block path="//Category/Default" parent_id="{{ category.pk }}"/>
            <input class="btn btn-default" type="submit" value="Выбрать">
        </form>
    </div>
</div>

<t4:block path="//Product/InCategory" id="{{ category.pk }}" />
<t4:block path="//Product/InSubCategory" id="{{ category.pk }}" />

{% endblock %}