{% extends 'Admin.html' %}

{% block content %}
<h1>ADD</h1>

<div class="row">
    <!-- MAIN CONTENT -->
    <div class="col-md-9">
    {% for item in tree %}
        {% if item.__lvl > 0 %}
            <p>
            {% for i in 1..item.__lvl %}
                <span>-</span>
            {% endfor %}
            {{ item.title }}
            </p>
        {% else %}
            <p>{{ item.title }}</p>
        {% endif %}
    {% endfor %}

    </div><!-- END of MAIN CONTENT -->

    <!-- RIGHT SIDEBAR -->
    <div class="col-md-3">
        <div class="panel panel-warning">
            <div class="panel-heading">Категория</div>
            <div class="panel-body">
                <a href="/admin/add" class="btn btn-default btn-md" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>
                    Добавить
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}